body {
  min-width: 320px;

  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
}

body, ul, h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  min-width: 300px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-header {
  background: #F9DB79 url("../img/ice1.png") center no-repeat;
  background-size: 200px;
}

.main-header__menu {
  display: none;
}

.main-header__navigation--mobile {
  text-align: center;
}

.main-header__navigation--list-mobile {
  position: relative;
}

.main-header__navigation--list-item-mobile,
.main-header__navigation--list-item-mobile a {
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  transition: all 0.3s;
  padding: 20px 0;
}

.main-header__navigation--list-item-mobile::after {
  content: '';

  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  margin-top: 20px;

  background: black;
}

.main-header__banner {
  padding-bottom: 100px;
}

.top-text {
  padding-top: 200px;
  font-family: "Arial Black", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}

.top-text span {
  display: block;
  font-size: 38px;
  font-family: "Open Sans Condensed", sans-serif;
}

.button {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  background: transparent;
  border: 2px solid white;
  transition: all 0.3s;
}

.button:hover {
  background: #000000;
  border: 2px solid black;
}

.two-col-1 {
  height: 650px;
  clear: both;
  overflow: hidden;
  background: url("../img/bg1.jpg") center no-repeat;
}

.col-text {
  text-align: center;
  padding: 200px 30px 0 30px;

  color: #ffffff;
}

.col-text h2 {
  font-size: 28px;
  text-transform: uppercase;
  max-width: 400px;
  margin: 0 auto;
}

.col-text span {
  font-family: "Marck Script", cursive;
  font-size: 24px;
}

.col-text p {
  font-size: 16px;
}

.text {
  padding: 50px 100px;

  text-align: center;
}

.text h2 {
  font-size: 28px;
  text-transform: uppercase;
  max-width: 400px;
  margin: 0 auto;
}

.text span {
  font-family: "Marck Script", cursive;
  font-size: 24px;
}

.text p {
  font-size: 16px;
}

.fixed {
  height: 355px;
}

.fixed-one {
  background: #B5E8D5 url("../img/fixed-ice1.png") center no-repeat;
  background-attachment: fixed;
  background-size: 400px;
}

.fixed-two {
  background: #FFBFB3 url("../img/fixed-ice2.png") center no-repeat;
  background-attachment: fixed;
  background-size: 400px;
}

.fixed-three {
  display: none;
  background: #B5E8D5 url("../img/fixed-ice3.png") bottom no-repeat;
  background-attachment: fixed;
  background-size: 400px;
  height: 100px;
}

.center-text {
  padding-top: 80px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-family: "Arial Black", sans-serif;
}

.center-text span {
  display: block;
  font-size: 38px;
  font-family: "Open Sans Condensed", sans-serif;
}

.two-col-2 {
  background-image: url("../img/bg3.jpg");
  background-position: -177px -100px;
  background-repeat: no-repeat;
}

.col-text-2 {
  padding-bottom: 200px;
}

.button-width {
  width: 150px;
}

.col-img-three {
  background: url("../img/bg2.jpg") right no-repeat;
}

.two-col-3 {
  background-image: url("../img/bg2.jpg");
  background-position: -679px 0;
  background-repeat: no-repeat;
}

.col-text-3 {
  color: #000;
  padding-bottom: 100px;
}

.button-color-3 {
  color: #000;
  border: 2px solid #000;
  margin-bottom: -29px;
}

.button-color-3:hover {
  color: #fff;
}

.main-footer {
  margin: -5px 0 0 0;
  padding: 20px 0;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.heart {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url("../img/heart-icon.png") 0 0 no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.heart-active {
  opacity: 0.3;
}

///КАТАЛОГ

.main-header__catalog {
  background: #B5E8D5;
}

.top-text__banner {
  padding-top: 100px;
}

main h2 {
  text-align: center;
  font-size: 40px;
}

.catalog-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.catalog-item {
  width: 300px;
  margin-bottom: 50px;

  text-align: center;
}

///События
.main-header__event {
  background: #FFBFB3;
}

.main-event .col-text {
  padding-bottom: 200px;
  width: 300px;

  color: #000000;
}

.popup-btn {
  margin: 50px auto 0 auto;
  text-transform: uppercase;
  border-color: #000000;
  color: #000;
  cursor: pointer;
}

.popup-btn:hover {
  color: #ffffff;
}

.fixed-event {
  background: url("../img/bg4.jpg") bottom center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

///About us
.main-header__about {
  background: #C3A9D4;
}

.fixed-about {
  background: url("../img/bg3.jpg") bottom center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

///Contact
.main-header__contact {
  background: #D47960;
}

.map {
  height: 800px;
}

///Deli
.main-header__deli {
  background: #839C3C;
}

.slider-container {
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;

  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

  border-radius: 0 3px 3px 0;

  cursor: pointer;
}

.next {
  right: 0;

  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slide-text {
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;

  text-align: center;

  color: #f2f2f2;
  font-size: 12px;
}

.numbertext {
  padding: 8px 12px;
  position: absolute;
  top: 0;

  color: #f2f2f2;
  font-size: 12px;
}

.dot {
  margin: 0 2px;
  height: 13px;
  width: 13px;
  display: inline-block;

  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;

  cursor: pointer;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.dot-container {
  width: 100%;
  position: absolute;
  bottom: 13px;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

///Registration
.main-header__registration {
  background: #5776D4;
}

.fixed-registration {
  background: url("../img/bg7.jpg") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.form {
  max-width: 300px;
  margin: 20px auto 0 auto;
  padding-bottom: 50px;
}

input {
  outline: none;
  border: none;
}

.form input {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.form-btn {
  background: #5776D4;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
}

///
.section {
  padding-top: 10px;
}

.menu-btn {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;

  background: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;

  background: #222;
}

.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.menu-btn span::before {
  transform: translateY(-5px);
}

.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn__active span {
  height: 0;
}

.menu-btn__active span::before {
  transform: rotate(45deg);
}

.menu-btn__active span::after {
  transform: rotate(-45deg);
}

.main-header__navigation--mobile {
  display: none;
}

.main-header__navigation--mobile-active {
  display: block;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .two-col-1 {
    background: none;
  }

  .two-col-2 {
    background: none;
  }

  .two-col-3 {
    background: none;
  }

  .main-header__navigation--mobile {
    display: none;
  }

  .container {
    min-width: 720px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .main-header {
    background: #F9DB79 url("../img/ice1.png") center no-repeat;
  }

  .main-header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
  }

  .main-header__navigation {
    width: 500px;
  }

  .main-header__navigation--list {
    display: flex;
    justify-content: space-between;
  }

  .main-header__menu a {
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.3s;
  }

  .main-header__banner {
    padding-bottom: 100px;
  }

  .top-text {
    padding-top: 330px;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 115px;
    text-align: center;
  }

  .top-text span {
    display: block;
    font-size: 38px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .button {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background: transparent;
    border: 2px solid white;
    transition: all 0.3s;
  }

  .button:hover {
    background: #000000;
    border: 2px solid black;
  }

  .button-color {
    color: #000;
    border: 2px solid #000;
    margin: 40px auto;
  }

  .button-color:hover {
    color: #ffffff;
  }

  .two-col {
    height: 650px;
    clear: both;
    overflow: hidden;
  }

  .col {
    float: left;
    width: 50%;
  }

  .col-img {
    height: 100%;
  }

  .col-img-one {
    background: url("../img/bg1.jpg") center no-repeat;
  }

  .col-img-two {
    background: url("../img/bg3.jpg") center no-repeat;
  }

  .col-text {
    text-align: center;
    padding: 200px 30px 0 30px;

    color: #000000;
  }

  .col-text h2 {
    font-size: 38px;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0 auto;
  }

  .col-text span {
    font-family: "Marck Script", cursive;
    font-size: 24px;
  }

  .col-text p {
    font-size: 16px;

  }

  .fixed {
    height: 780px;
  }

  .fixed-one {
    background: #B5E8D5 url("../img/fixed-ice1.png") center no-repeat;
    background-attachment: fixed;
  }

  .fixed-two {
    background: #FFBFB3 url("../img/fixed-ice2.png") center no-repeat;
    background-attachment: fixed;
  }

  .fixed-three {
    display: block;
    background: #B5E8D5 url("../img/fixed-ice3.png") bottom no-repeat;
    background-attachment: fixed;
  }

  .center-text {
    padding-top: 280px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 115px;
    text-align: center;
    font-family: "Arial Black", sans-serif;
  }

  .center-text span {
    display: block;
    font-size: 38px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .button-width {
    width: 150px;
  }

  .col-img-three {
    background: url("../img/bg2.jpg") right no-repeat;
  }

  .main-footer {
    margin: -5px 0 0 0;
    padding: 20px 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
  }

  .heart {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url("../img/heart-icon.png") 0 0 no-repeat;
    background-size: 25px 25px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .heart-active {
    opacity: 0.3;
  }


  ///КАТАЛОГ
  .main-header__catalog {
    background: #B5E8D5;
  }

  .top-text__banner {
    padding-top: 100px;
  }

  main h2 {
    text-align: center;
    font-size: 40px;
  }

  .catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog-item {
    width: 300px;
    margin-bottom: 50px;

    text-align: center;
  }

  ///EVENT
  .main-header__event {
    background: #FFBFB3;
  }

  .main-event .col-text {
    padding-bottom: 200px;
    width: 300px;
  }

  .popup-btn {
    margin: 50px auto 0 auto;
    text-transform: uppercase;
    border-color: #000000;
    color: #000;
    cursor: pointer;
  }

  .popup-btn:hover {
    color: #ffffff;
  }

  .fixed-event {
    background: url("../img/bg4.jpg") bottom center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  ///About us
  .main-header__about {
    background: #C3A9D4;
  }

  .fixed-about {
    background: url("../img/bg3.jpg") bottom center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  ///Contact
  .main-header__contact {
    background: #D47960;
  }

  .map {
    height: 800px;
  }

  ///Deli
  .main-header__deli {
    background: #839C3C;
  }

  ///Registration
  .main-header__registration {
    background: #5776D4;
  }

  .form {
    max-width: 500px;
    margin: 20px auto 0 auto;
    padding-bottom: 50px;
  }

  input {
    outline: none;
    border: none;
  }

  .form input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
  }

  .form-btn {
    background: #5776D4;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
  }

  ///
}

@media (min-width: 1200px) {
  .main-header__navigation--mobile {
    display: none;
  }

  .container {
    width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .main-header {
    background: #F9DB79 url("../img/ice1.png") center no-repeat;
  }

  .main-header__menu {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }

  .main-header__navigation {
    width: 600px;
  }

  .main-header__navigation--list {
    display: flex;
    justify-content: space-between;
  }

  .main-header__banner {
    padding-bottom: 100px;
  }

  .top-text {
    padding-top: 330px;
    font-family: "Arial Black", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 115px;
    text-align: center;
  }

  .top-text span {
    display: block;
    font-size: 38px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .button {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    background: transparent;
    border: 2px solid white;
    transition: all 0.3s;
  }

  .button:hover {
    background: #000000;
    border: 2px solid black;
  }

  .button-color {
    color: #000;
    border: 2px solid #000;
    margin: 40px auto;
  }

  .button-color:hover {
    color: #ffffff;
  }

  .two-col {
    height: 650px;
    clear: both;
    overflow: hidden;
  }

  .col {
    float: left;
    width: 50%;
  }

  .col-img {
    height: 100%;
  }

  .col-img-one {
    background: url("../img/bg1.jpg") center no-repeat;
  }

  .col-img-two {
    background: url("../img/bg3.jpg") center no-repeat;
  }

  .col-text {
    text-align: center;
    padding: 200px 30px 0 30px;
  }

  .col-text h2 {
    font-size: 38px;
    text-transform: uppercase;
    max-width: 400px;
    margin: 0 auto;
  }

  .col-text span {
    font-family: "Marck Script", cursive;
    font-size: 24px;
  }

  .col-text p {
    font-size: 16px;

  }

  .fixed {
    height: 780px;
  }

  .fixed-one {
    background: #B5E8D5 url("../img/fixed-ice1.png") center no-repeat;
    background-attachment: fixed;
  }

  .fixed-two {
    background: #FFBFB3 url("../img/fixed-ice2.png") center no-repeat;
    background-attachment: fixed;
  }

  .fixed-three {
    display: block;
    background: #B5E8D5 url("../img/fixed-ice3.png") bottom no-repeat;
    background-attachment: fixed;
  }

  .center-text {
    padding-top: 280px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 115px;
    text-align: center;
    font-family: "Arial Black", sans-serif;
  }

  .center-text span {
    display: block;
    font-size: 38px;
    font-family: "Open Sans Condensed", sans-serif;
  }

  .button-width {
    width: 150px;
  }

  .col-img-three {
    background: url("../img/bg2.jpg") right no-repeat;
  }

  .main-footer {
    margin: -5px 0 0 0;
    padding: 20px 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
  }

  .heart {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background: url("../img/heart-icon.png") 0 0 no-repeat;
    background-size: 25px 25px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s;
  }

  .heart-active {
    opacity: 0.3;
  }


  ///КАТАЛОГ
  .main-header__catalog {
    background: #B5E8D5;
  }

  .top-text__banner {
    padding-top: 100px;
  }

  main h2 {
    text-align: center;
    font-size: 40px;
  }

  .catalog-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .catalog-item {
    width: 300px;
    margin-bottom: 50px;

    text-align: center;
  }

  ///События
  .main-header__event {
    background: #FFBFB3;
  }

  .main-event .col-text {
    padding-bottom: 200px;
    width: 300px;
  }

  .popup-btn {
    margin: 50px auto 0 auto;
    text-transform: uppercase;
    border-color: #000000;
    color: #000;
    cursor: pointer;
  }

  .popup-btn:hover {
    color: #ffffff;
  }

  .fixed-event {
    background: url("../img/bg4.jpg") bottom center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  ///About us
  .main-header__about {
    background: #C3A9D4;
  }

  .fixed-about {
    background: url("../img/bg3.jpg") bottom center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  ///Contact
  .main-header__contact {
    background: #D47960;
  }

  .map {
    height: 800px;
  }

  ///Deli
  .main-header__deli {
    background: #839C3C;
  }

  .slider-container {
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;

    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

    border-radius: 0 3px 3px 0;

    cursor: pointer;
  }

  .next {
    right: 0;

    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .slide-text {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;

    text-align: center;

    color: #f2f2f2;
    font-size: 12px;
  }

  .numbertext {
    padding: 8px 12px;
    position: absolute;
    top: 0;

    color: #f2f2f2;
    font-size: 12px;
  }

  .dot {
    margin: 0 2px;
    height: 13px;
    width: 13px;
    display: inline-block;

    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;

    cursor: pointer;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .dot-container {
    width: 100%;
    position: absolute;
    bottom: 13px;
  }

  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  .slider-container {
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;

    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;

    border-radius: 0 3px 3px 0;

    cursor: pointer;
  }

  .next {
    right: 0;

    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .slide-text {
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;

    text-align: center;

    color: #f2f2f2;
    font-size: 12px;
  }

  .numbertext {
    padding: 8px 12px;
    position: absolute;
    top: 0;

    color: #f2f2f2;
    font-size: 12px;
  }

  .dot {
    margin: 0 2px;
    height: 13px;
    width: 13px;
    display: inline-block;

    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;

    cursor: pointer;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .dot-container {
    width: 100%;
    position: absolute;
    bottom: 13px;
  }

  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }


  ///Registration
  .main-header__registration {
    background: #5776D4;
  }

  .text {
    margin: 0 auto;
    width: 500px;
  }

  .form {
    max-width: 800px;
    margin: 20px auto 0 auto;
    padding-bottom: 50px;
  }

  input {
    outline: none;
    border: none;
  }

  .form input {
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
  }

  .form-btn {
    background: #5776D4;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
  }

 .menu-btn {
   display: none;
 }
  ///
}